@media only screen and (max-width: 768px) {
  .sm-font {
    font-size: 0.7rem !important;
  }
}


.text-bg-progress {
  color: #e9ecef;
}


#chart {
  max-width: 650px;
  /* margin: 35px auto; */
}



/* .bg-soft-primary {
  background-color: #e6effc!important;
}

.bg-soft-success {
  background-color: #e0faef!important;
}

.bg-soft-info {
  background-color: #e5f7ff!important;
}

.bg-soft-warning {
  background-color: #fef0e8!important;
}

.bg-soft-danger {
  background-color: #fce7eb!important;
}


.bg-soft-secondary {
  background-color:#5d6878!important;
}

.bg-soft-dark{
  background-color:#000!important;
} */


/* .avatar-xl .avatar-name {
  font-size: .66667rem;
} */
/* .avatar .avatar-name, .avatar img {
  width: 100%;
  height: 100%;
}
.avatar .avatar-name {
  background-color: #344050;
  position: absolute;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}


.avatar-xl {
  height: 2rem;
  width: 2rem;
}
.avatar {
  position: relative;
  display: inline-block;
}
.mr-3, .mx-3 {
  margin-right: 1rem!important;
} */
