<h4>Dashbord</h4>

<div class="row mt-5 pr-md-3">

  <div class="col-6 col-md-2 pr-0 ">
      <div class="bg-primary rounded px-3 py-2 mb-1 text-white clearfix" >
        <h6 class="sm-font" >Provider Of month </h6>
        <span class="float-right"> 25%</span>
      </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
      <div class="bg-success rounded px-3 py-2 mb-1 text-white clearfix" >
        <h6 class="sm-font"> Instances </h6>
        <span class="float-right"> 25%</span>
      </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
    <div class="bg-danger  rounded px-3 py-2  mb-1 text-white clearfix" >
      <h6 class="sm-font" > Accounts </h6>
      <span class="float-right"> 25%</span>
    </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
    <div class="bg-info    rounded px-3 py-2 mb-1  text-white clearfix" >
      <h6 class="sm-font" > Providers </h6>
      <span class="float-right"> 25%</span>
    </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
    <div class="bg-warning rounded px-3 py-2 mb-1 text-white clearfix" >
      <h6 class="sm-font" > Tasks </h6>
      <span class="float-right"> 25%</span>
    </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
    <div class="bg-secondary rounded px-3 py-2 mb-1 text-white clearfix" >
      <h6 class="sm-font" > Users </h6>
      <span class="float-right"> 25%</span>
    </div>
  </div>

</div>

<div class="row mt-5">
  <div class="col-md-6">

    <div class="card h-lg-100 overflow-hidden">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="mb-0">Running Projects</h6>
          </div>
          <div class="col-auto text-center pr-card"><select class="custom-select custom-select-sm">
              <option>Working Time</option>
              <option>Estimated Time</option>
              <option>Billable Time</option>
            </select></div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="row no-gutters align-items-center py-2 position-relative border-bottom border-200">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-primary text-dark"><span class="fs-0 text-primary">F</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Falcon</a><span class="badge badge-pill ml-2 bg-200 text-primary">38%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">12:50:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 38%" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters align-items-center py-2 position-relative border-bottom border-200">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-success text-dark"><span class="fs-0 text-success">R</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Reign</a><span class="badge badge-pill ml-2 bg-200 text-primary">79%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">25:20:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 79%" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters align-items-center py-2 position-relative border-bottom border-200">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-info text-dark"><span class="fs-0 text-info">B</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Boots4</a><span class="badge badge-pill ml-2 bg-200 text-primary">90%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">58:20:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters align-items-center py-2 position-relative border-bottom border-200">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-warning text-dark"><span class="fs-0 text-warning">R</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Raven</a><span class="badge badge-pill ml-2 bg-200 text-primary">40%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">21:20:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters align-items-center py-2 position-relative">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-danger text-dark"><span class="fs-0 text-danger">S</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Slick</a><span class="badge badge-pill ml-2 bg-200 text-primary">70%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">31:20:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-light p-0"><a class="btn btn-sm btn-link btn-block py-2" href="#!">Show all projects<!-- <span class="fas fa-chevron-right ml-1 fs--2"></span> --></a></div>
    </div>


  </div>
  <div class="col-md-6">

    <div id="chart" *ngIf="dataChart$ | async" >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [dataLabels]="chartOptions.dataLabels"
      ></apx-chart>
    </div>


  </div>
</div>









<div class="row mt-4">
  <div class="col-lg-6 col-xl-7 col-xxl-8 mb-3 pr-lg-2 mb-3">
    <div class="card h-lg-100" *ngIf="dataProgress$ | async as dataProgresses" >
      <div class="card-body d-flex align-items-center">
        <div class="w-100">
          <h6 class="mb-3 text-800">Using Providers </h6>

          <div class="progress">
            <div
              *ngFor="let dataProgress of dataProgresses;let i = index"
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar" [class]="getClass( 'bg' , i)"
              [style]="calculePercent(dataProgress, dataProgresses)"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>


          <div class="row fs--1 mt-4">

            <div class="col-auto d-flex align-items-center pr-2"  *ngFor="let dataProgress of dataProgresses;let i = index" >
                <i class="fas fa-circle fa-sm  mr-2" [class]="getClass( 'text' , i)" ></i>
                <span>{{ dataProgress[1] | titlecase }}</span>
                <span class="ml-1">({{dataProgress[0]}})</span>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-5 col-xxl-4 mb-3 pl-lg-2">
    <div class="card h-lg-100 pb-4">
      <!-- <div class="bg-holder bg-card" style="background-image:url(../assets/img/illustrations/corner-1.png);"></div> -->
      <!--/.bg-holder-->
      <div class="card-body position-relative">
        <h6 class="text-warning">Running out of your space?</h6>
        <p class="fs--1 mb-0">Your storage will be running out soon. Get more<br> space and powerful productivity features.</p>
        <!-- <a class="btn btn-link fs--1 text-warning mt-4 mt-lg-3 pl-0" href="#!">Upgrade storage
          <span class="fas fa-chevron-right ml-1" data-fa-transform="shrink-4 down-1"></span>
        </a> -->
      </div>
    </div>
  </div>
</div>
