<h4>Dashbord</h4>

<div class="row mt-5 pr-md-3">

  <div class="col-6 col-md-2 pr-0 ">
      <div class="bg-primary rounded px-3 py-2 mb-1 text-white clearfix" >
        <h6 class="sm-font" >Provider Of month </h6>
        <span class="float-right"> 25%</span>
      </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
      <div class="bg-success rounded px-3 py-2 mb-1 text-white clearfix" >
        <h6 class="sm-font"> Instances </h6>
        <span class="float-right"> 25%</span>
      </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
    <div class="bg-danger  rounded px-3 py-2  mb-1 text-white clearfix" >
      <h6 class="sm-font" > Accounts </h6>
      <span class="float-right"> 25%</span>
    </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
    <div class="bg-info    rounded px-3 py-2 mb-1  text-white clearfix" >
      <h6 class="sm-font" > Providers </h6>
      <span class="float-right"> 25%</span>
    </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
    <div class="bg-warning rounded px-3 py-2 mb-1 text-white clearfix" >
      <h6 class="sm-font" > Tasks </h6>
      <span class="float-right"> 25%</span>
    </div>
  </div>
  <div class="col-6 col-md-2 pr-0">
    <div class="bg-secondary rounded px-3 py-2 mb-1 text-white clearfix" >
      <h6 class="sm-font" > Users </h6>
      <span class="float-right"> 25%</span>
    </div>
  </div>

</div>

<div class="row mt-5">
  <div class="col-md-6">

    <div class="card h-lg-100 overflow-hidden">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="mb-0">Running Projects</h6>
          </div>
          <div class="col-auto text-center pr-card"><select class="custom-select custom-select-sm">
              <option>Working Time</option>
              <option>Estimated Time</option>
              <option>Billable Time</option>
            </select></div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="row no-gutters align-items-center py-2 position-relative border-bottom border-200">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-primary text-dark"><span class="fs-0 text-primary">F</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Falcon</a><span class="badge badge-pill ml-2 bg-200 text-primary">38%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">12:50:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 38%" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters align-items-center py-2 position-relative border-bottom border-200">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-success text-dark"><span class="fs-0 text-success">R</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Reign</a><span class="badge badge-pill ml-2 bg-200 text-primary">79%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">25:20:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 79%" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters align-items-center py-2 position-relative border-bottom border-200">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-info text-dark"><span class="fs-0 text-info">B</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Boots4</a><span class="badge badge-pill ml-2 bg-200 text-primary">90%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">58:20:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters align-items-center py-2 position-relative border-bottom border-200">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-warning text-dark"><span class="fs-0 text-warning">R</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Raven</a><span class="badge badge-pill ml-2 bg-200 text-primary">40%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">21:20:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters align-items-center py-2 position-relative">
          <div class="col pl-card py-1 position-static">
            <div class="media align-items-center">
              <div class="avatar avatar-xl mx-3">
                <div class="avatar-name rounded-circle bg-soft-danger text-dark"><span class="fs-0 text-danger">S</span></div>
              </div>
              <div class="media-body">
                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">Slick</a><span class="badge badge-pill ml-2 bg-200 text-primary">70%</span></h6>
              </div>
            </div>
          </div>
          <div class="col py-1">
            <div class="row flex-end-center no-gutters">
              <div class="col-auto pr-2">
                <div class="fs--1 font-weight-semi-bold">31:20:00</div>
              </div>
              <div class="col-5 pr-card pl-2">
                <div class="progress mr-2" style="height: 5px;">
                  <div class="progress-bar rounded-capsule" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-light p-0"><a class="btn btn-sm btn-link btn-block py-2" href="#!">Show all projects<!-- <span class="fas fa-chevron-right ml-1 fs--2"></span> --></a></div>
    </div>


  </div>
  <div class="col-md-6">vvv</div>
</div>
