<form [formGroup]="accountForm" (ngSubmit)="onSubmit()" >

  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" formControlName="name" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Access Key</label>
    <input type="text" formControlName="accessKey" class="form-control form-control-sm" id="exampleInputPassword1">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1"> Secrite Key </label>
    <input type="text" formControlName="secriteKey" class="form-control form-control-sm" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary btn-sm float-right"><i class="far fa-save"></i> Save</button>

</form>
