<h4>Tasks</h4>

<div class="row mt-5">

  <div class="col-md-12">

    <ul class="list-group list-group-horizontal d-flex justify-content-center" *ngIf="providers$ | async as providers">
      <li
          class="list-group-item pointer "
          *ngFor="let provider of providers ; index as i "
          (click)="selectProvider(provider)"
          [ngClass]="{'active' : currentProvider==provider}"
        >{{provider.name | titlecase}}</li>
    </ul>

  </div>

</div>

 <div class="row mt-4" *ngIf="currentProvider" >

  <div class="col-md-10 offset-1">

    <!-- <div class="jumbotron p-2 bg-dark text-white "> -->
    <div class="jumbotron p-2">
      <button class="btn btn-primary btn-sm mt-1 float-right"  [disabled]="accountId==-1"  (click)="showAddCronModal()"> <i class="fas fa-plus"></i> Cron </button>

      <form class="form-inline">


        <div class="col-auto  my-1 mr-sm-2 px-2">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">Account</div>
            </div>
            <select class="form-control" [(ngModel)]="accountId" name="accountId" >
              <option value="-1">Choose Account </option>
              <option *ngFor="let account of accounts$ | async"  [value]="account.id"> {{ account.name | slice:0:20 }} </option>
            </select>
          </div>
        </div>

        <button type="button" class="btn btn-primary my-1 mr-1 btn-sm"  [disabled]="accountId==-1"  (click)="selectAccount()"><i class="fas fa-list"></i></button>

    </form>
    </div>


  </div>

</div>


<div class="row mt-4" *ngIf="currentProvider">
  <div class="col-md-12">
  <table class="table table-light">
    <thead class="thead-dark text-center">
      <tr>
        <th>Account</th>
        <th>Instance</th>
        <th>Type</th>
        <th>Delay</th>
        <th>Last Execution</th>
        <th>Status(now)</th>
        <th>Stop/Start</th>
        <th>Delete</th>

      </tr>
    </thead>
    <tbody >

      <tr *ngFor="let task of tasks$ | async" class="text-center" >
        <td> {{ task.instance.account.name }} </td>
        <th> {{ task.instance.name }} </th>
        <td> {{ task.operationType }} </td>
        <td> {{ task.delayBetween  }} (min) </td>
        <td [ngSwitch]="task.lastExecute">
          <i *ngSwitchCase="null" class="far fa-times-circle text-danger"> </i>
          <span *ngSwitchDefault> {{ task.lastExecute | date:'short' }} </span>

        </td>
        <td [ngClass]="{ 'table-success' : task.started , 'table-danger' : !task.started }">
            <i class="far" [ngClass]="{
                'fa-check-circle text-success' : task.started ,
                'fa-times-circle text-danger' :  !task.started  }" ></i>
        </td>
        <td [ngClass]="{ 'table-success' : !task.stoped , 'table-danger' : task.stoped }" [ngSwitch]="task.stoped" >

          <button *ngSwitchCase="true" class="btn btn-success btn-sm"  (click)="startTask(task)" > start </button>
          <button *ngSwitchCase="false" class="btn btn-warning btn-sm" (click)="stopTask(task)" >  stop   </button>
          <button *ngSwitchDefault  > {{ task.stoped }}</button>

        </td>
        <td> <button class="btn btn-danger btn-sm" (click)="deleteTask( task )" > <i class="far fa-trash-alt"></i> </button>  </td>

      </tr>
    </tbody>
  </table>
</div>

</div>


<!-- Modal -->
<div class="modal fade" id="modal-add-cron" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Cron</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form [formGroup]="formAddTask" >

          <div class="form-group">
            <label for="exampleInputEmail1">Instances</label>
            <select class="custom-select custom-select-sm is-valid" aria-describedby="emailHelp" formControlName="instance"
             [ngClass]="{ 'is-valid' : this.formAddTask.get('instance').valid &&
                        ( this.formAddTask.get('instance').dirty || this.formAddTask.get('instance').touched) ,
                          'is-invalid' : this.formAddTask.get('instance').invalid &&
                        ( this.formAddTask.get('instance').dirty || this.formAddTask.get('instance').touched) }" >
              <option  [ngValue]="null"> Choose Instance </option>
              <option *ngFor="let instance of instances$ | async"  [value]="instance.database.id"> {{ instance.name }} </option>
            </select>

            <!-- <div class="valid-feedback"> Looks good! </div> -->

          </div>

          <div class="form-group">
              <label for="exampleInputPassword1">Duration <i class="far fa-clock"></i> / <small>(min)</small></label>
              <input type="number" class="form-control form-control-sm" min="3" formControlName="delayBetween"
              [ngClass]="{ 'is-valid' : this.formAddTask.get('delayBetween').valid &&
                ( this.formAddTask.get('delayBetween').dirty || this.formAddTask.get('delayBetween').touched) ,
              'is-invalid' : this.formAddTask.get('delayBetween').invalid &&
              ( this.formAddTask.get('delayBetween').dirty || this.formAddTask.get('delayBetween').touched) }"
              >

              <div id="validationServer03Feedback" class="invalid-feedback"
                 *ngIf="this.formAddTask.get('delayBetween').hasError('min')">
                  The number mast be 3 or more
              </div>
          </div>

          <div class="form-group">
              <label for="exampleInputPassword1">Type</label>
              <select class="custom-select custom-select-sm" formControlName="operationType"
                [ngClass]="{ 'is-valid' : this.formAddTask.get('operationType').valid  &&
                ( this.formAddTask.get('operationType').dirty || this.formAddTask.get('operationType').touched),
                'is-invalid' : this.formAddTask.get('operationType').invalid  &&
                ( this.formAddTask.get('operationType').dirty || this.formAddTask.get('operationType').touched) }"
              >
                <option  [ngValue]="null"> Choose Operation </option>
                <option value="restart"> Restart </option>
              </select>

              <!-- <div id="validationServer03Feedback" class="invalid-feedback">
                Please provide a valid city.
              </div> -->
          </div>

        </form>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" [disabled]="!formAddTask.valid" (click)="addTask()" ><i class="far fa-save"></i> Task</button>
      </div>
    </div>
  </div>
</div>
