<div class="jumbotron py-2 mx-5">

  <button class="btn btn-primary btn-sm float-right mt-1" [disabled]="accountId==-1" (click)="addInstances()" ><i class="fas fa-plus"></i> Account</button>

  <form class="form-inline">
    <label class="my-1 mr-2  col-form-label col-form-label-sm " for="inlineFormCustomSelectPref">Accounts</label>
    <select class="custom-select custom-select-sm my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="accountId" name="accountId" >
      <option value="-1">Choose Account </option>
      <option *ngFor="let account of ( provider.accounts | filterAccountsActives )" value="{{account.id}}" >{{ account.name }}</option>

    </select>
    <button type="submit" class="btn btn-primary btn-sm my-1" [disabled]="accountId==-1" (click)="getServers()">Get Servers</button>
  </form>

</div>


<div class="row">

  <div class="col-md-12">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center" >#</th>
          <th scope="col" class="text-center" >Name</th>
          <th scope="col" class="text-center" >Public Ip</th>
          <th scope="col" class="text-center" >Vmta Dns</th>
          <th scope="col" class="text-center" >Install</th>
          <th scope="col" class="text-center" >Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instance of $instances|async" >
          <th scope="row" class="text-center" > <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> </th>
          <td class="text-center" > {{ instance.name }} </td>
          <td class="text-center" > {{ instance.networks.v4[1].ip_address }} </td>
          <td class="text-center" [ngSwitch]="instance.database!=null && instance.database.vmtaDomain!=null">
            <div  *ngSwitchCase="true"  > {{ instance.database.vmtaDomain }} </div>
            <div  *ngSwitchCase="false" >
                <i class="far fa-times-circle text-danger"></i>
                <button class="btn btn-warning btn-sm ml-3" (click)="editVmta(instance)">
                  <i class="far fa-edit"></i>
                </button>
              </div>
          </td>
          <td class="text-center" > <button class="btn btn-primary btn-sm"> install </button> </td>
          <td class="text-center" > <button class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i> </button> </td>
        </tr>
      </tbody>
    </table>


  </div>

</div>





<div class="modal fade" id="editVmta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addInstance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
      </div>
    </div>
  </div>
</div>
