<h4>Statistiques</h4>

<div class="row mt-5">

  <div class="col-md-6 col-xl-7">
    <div class="card p-4">

      <apx-chart *ngIf="instancesOfEntities$ | async"
          [series]="chartOptionsLineColumnArea.series"
          [chart]="chartOptionsLineColumnArea.chart"
          [yaxis]="chartOptionsLineColumnArea.yaxis"
          [xaxis]="chartOptionsLineColumnArea.xaxis"
          [labels]="chartOptionsLineColumnArea.labels"
          [stroke]="chartOptionsLineColumnArea.stroke"
          [plotOptions]="chartOptionsLineColumnArea.plotOptions"
          [markers]="chartOptionsLineColumnArea.markers"
          [fill]="chartOptionsLineColumnArea.fill"
          [tooltip]="chartOptionsLineColumnArea.tooltip"
      ></apx-chart>

</div>

  </div>
  <div class="col-md-6 col-xl-5" >


    <div class="card card-table" style="max-height: 440px;">
      <div class="card-header">
        <div class="title">Users States</div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-striped table-hover mb-0">
          <thead>
            <tr>
              <th> User   </th>
              <th> Commit </th>
              <th> Date   </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of user$ | async" >
              <td class="user-avatar">
                  <img src="https://avatars.dicebear.com/api/avataaars/example.svg?b=%2319b5fe"
                        width="30px" height="30px"
                        class="rounded-circle mr-2" alt="Avatar"> {{user[0]}} </td>

              <td> {{user[1]}} </td>
              <td > <i class="fas" [ngClass]="{ 'fa-long-arrow-alt-up text-success' : user[1]>user[2] ,  'fa-long-arrow-alt-down text-danger' : user[1]<user[2] }" > </i> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>


<div class="row mt-4">

  <div class="col-md-4">

    <apx-chart *ngIf="instancesOfEntity$ | async"
      [series]="chartOptionsColumn.series"
      [chart]="chartOptionsColumn.chart"
      [dataLabels]="chartOptionsColumn.dataLabels"
      [plotOptions]="chartOptionsColumn.plotOptions"
      [yaxis]="chartOptionsColumn.yaxis"
      [legend]="chartOptionsColumn.legend"
      [fill]="chartOptionsColumn.fill"
      [stroke]="chartOptionsColumn.stroke"
      [tooltip]="chartOptionsColumn.tooltip"
      [xaxis]="chartOptionsColumn.xaxis"
    ></apx-chart>


  </div>


  <div class="col-md-4">

    <apx-chart *ngIf="instancesOfAccount$ | async"
      [series]="chartOptionsDistributedColumns.series"
      [chart]="chartOptionsDistributedColumns.chart"
      [dataLabels]="chartOptionsDistributedColumns.dataLabels"
      [plotOptions]="chartOptionsDistributedColumns.plotOptions"
      [yaxis]="chartOptionsDistributedColumns.yaxis"
      [xaxis]="chartOptionsDistributedColumns.xaxis"
      [legend]="chartOptionsDistributedColumns.legend"
      [colors]="chartOptionsDistributedColumns.colors"
      [grid]="chartOptionsDistributedColumns.grid"
    ></apx-chart>

  </div>
  <div class="col-md-4">


    <div class="card" *ngIf="instancesOfProvider$ | async" >
      <div id="chart-donut">
        <apx-chart
          [series]="chartOptionsDonut.series"
          [chart]="chartOptionsDonut.chart"
          [labels]="chartOptionsDonut.labels"
          [responsive]="chartOptionsDonut.responsive"
        ></apx-chart>
      </div>
    </div>



  </div>



</div>
