<h4>Providers</h4>

<div class="row mt-5">

  <div class="col-4 pr-0">

    <ul class="list-group"  *ngIf="$providers | async as providers" >
      <li class="list-group-item active"
        *ngFor="let provider of providers"
        (click)="chooseProvider(provider)"
        [ngClass]="{'active': provider==currentProvider}"
      >{{provider.name}}</li>
    </ul>


  </div>
  <div class="col-8">


    <table class="table" *ngIf="currentProvider" >
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID
            <button
              class="btn btn-primary btn-sm"
              data-toggle="tooltip"
              data-placement="top"
              title="Attch Entity"
              (click)="attchingMode=true"
            ><i class="fas fa-link"></i></button>

          </th>
          <th scope="col">Entity</th>
          <th scope="col">Dettach</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entity of currentProvider.entities"  >
          <th scope="row">{{ entity.id }}</th>
          <td>{{ entity.name }}</td>
          <td><button class="btn btn-warning btn-sm" (click)="dettachEntity(entity.id , currentProvider.id)" > <i class="fas fa-unlink"></i> </button></td>
        </tr>

        <tr *ngIf="attchingMode == true && entities$ | async" >
          <td></td>
          <td>
            <select class="custom-select custom-select-sm"  #entitySelect>
              <!-- <option > Choose Entity </option> -->
              <option *ngFor="let entity of ( entities$ | async ) | filterUsers:currentProvider.entities" [value]="entity.id" > {{ entity.name }} </option>
            </select>
          </td>
          <td><button class="btn btn-primary btn-sm" (click)="attachEntity(entitySelect.value)">attach</button></td>
        </tr>
      </tbody>
    </table>


  </div>



</div>
